.flex{
  display:flex;
  overflow: hidden;
}
.card{
  margin-top:100px;
  display:inline-block;
  width:336px;
  /*height:192px;*/
  background-color:white;
  border-radius:2px;
  box-shadow: 5px 5px 10px ;
  padding-bottom:15px;
}
.header{
  margin-top:15px;
  font-size:30px;
  font-family: "Open Sans";
}
.line{
  border-top: 1px solid black;
  width:77%;
  margin-top: 6px;
  margin-bottom: 4px;
}
.fa {
  position: relative;
  top:5px;
  font-size: 30px;
  padding:3px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color:white;
  transform: scale(0.5);  
}
.fa-linkedin {
  border-radius:5px;
  background: #007bb5;
}
.fa-github{
  color:black;
  transform: scale(0.7);
}
.desc{
  margin-top:5px;
  font-size: 16px;
  font-family: "Open Sans";
}
h1,h2,h3,h4,h5,h6{
  margin-top:0;
  margin-bottom:0;
}
.heading{
  font-size: 32px;
  font-weight: bold;
}
.left{
  min-width:320px;
  width:320px;
  padding-left:20px;
  height: 100vh;
  text-align:left;
  position:relative;
  
}
.overflow{
  height: calc(100% - 250px);
  overflow:auto;
}
.left .heading{
  margin-top:5px;
  font-family: "Open Sans";
}
.left .links{
  position:absolute;
  bottom:0px;
  background-color:white;
  padding-bottom:10px;
  width:100%;
}
.right{
  width:calc(100%);
  height:100vh;
  background-color:navy;
  text-align:left;
  
  position:relative;
}
.right .heading{
  padding-left: 20px;
  padding-right: 20px;
  z-index: 0;
  /* transform: skewX(-5deg); */
  color:white;
  font-family: 'Comic Sans MS';
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.right .heading h1{
  justify-content: end;
}
.right .heading h3{
}

.bio{
  font-size: 18px;
  width:calc(100% - 20px);
  text-align:left;
  margin-top:10px;
}
.bubble{
  position: absolute;
  border-radius: 100px;
  width:200px;
  height:200px;
  text-align:center;
  box-shadow:0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.bubble:hover{
  transform:scale(2,2);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
